@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$mobileScreen   : 200px;
$tabletScreen   : 600px;
$desktopScreen  : 1000px;

$fontFamily     : "Open Sans", sans-serif;

$darkGray       : rgb(32, 32, 32);
$lightGray      : rgb(86, 86, 86);
$white          : rgb(202, 202, 202);

