main{
    display: flex;
    flex-wrap: wrap;
    padding: 5vh;
    gap: 2vh;
}

li{
    display: flex;
   
}


.card{
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 15px;
    width: 18vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
    row-gap: .5vh;
    box-shadow: 0 0 5px black;

    h4{
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 18px;
    }

    a{
        color: $darkGray;
        transition: .4s;
        text-decoration: none;

        &:hover{
            letter-spacing: 1px;
            color: $white;
            text-shadow: 0 0 5px black;
        }
    }

    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li{
        width: 70%;
        display: flex;
        align-items: center;
        column-gap: 1vh;
    }
}